webapps/ExploreAndQuery/VingedRessursid/GenericThingSample.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2008 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:simpleType name="ST_Object">
		<xs:restriction base="xs:string">
			<xs:enumeration value=""/>
			<xs:enumeration value="value1"/>
			<xs:enumeration value="value2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="Types">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Type" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Type">
		<xs:complexType>
			<xs:attribute name="uri" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:anyURI">
						<xs:enumeration value="http://hs.com#type1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="name" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="type1"/>
						<xs:enumeration value="type2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="ns" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="label" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="label"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="source">
				<xs:simpleType>
					<xs:restriction base="xs:string">
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="Thing">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Graphs"/>
				<xs:element ref="Types"/>
				<xs:element ref="DataProperties"/>
				<xs:element ref="ObjectProperties"/>
				<xs:element ref="IncomingRelations"/>
			</xs:sequence>
			<xs:attribute name="uri" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:anyURI">
						<xs:enumeration value="http://hs.com#thing"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="deref_uri" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:anyURI">
						<xs:enumeration value="http://hs.com#thing"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>			
			<xs:attribute name="name" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="name"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="Subject">
		<xs:complexType>
			<xs:attribute name="uri" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:anyURI">
						<xs:enumeration value="http://hs.com#thing"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="name" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="subj1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="ObjectProperty">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Object"/>
			</xs:sequence>
			<xs:attribute name="uri" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:anyURI">
						<xs:enumeration value="http://hs.com#prop"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="name" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="prop1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="ns" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string"></xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="label" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="label"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="ObjectProperties">
		<xs:complexType>
		<xs:sequence>
			<xs:element ref="ObjectProperty"/>
		</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Object">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_Object">
					<xs:attribute name="uri">
						<xs:simpleType>
							<xs:restriction base="xs:anyURI">
								<xs:enumeration value="http://hs.com#thing"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="unit">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="unit"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="name">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="obj1"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="label">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="label"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="IncomingRelations">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="IncomingRelation"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="IncomingRelation">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Subject"/>
			</xs:sequence>
			<xs:attribute name="uri" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:anyURI">
						<xs:enumeration value="http://hs.com#prop"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="name" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="propin3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="ns" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="label" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="label"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="Graphs">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Graph" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Graph">
		<xs:complexType>
			<xs:attribute name="uri" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:anyURI">
						<xs:enumeration value="http://hs.com#graph1"/>
						<xs:enumeration value="http://hs.com#graph2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="name" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="graph1"/>
						<xs:enumeration value="graph2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="label">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="label1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="checked">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="0"/>
						<xs:enumeration value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>			
		</xs:complexType>
	</xs:element>
	<xs:element name="DataProperty">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Object"/>
			</xs:sequence>
			<xs:attribute name="uri" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:anyURI">
						<xs:enumeration value="http://hs.com#prop1"/>
						<xs:enumeration value="http://hs.com#prop2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="name" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="prop1"/>
						<xs:enumeration value="prop2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="ns" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="label">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="label1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="source">
				<xs:simpleType>
					<xs:restriction base="xs:string">
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="DataProperties">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="DataProperty" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
